body{
  background: slategray;
  font-family: poppins !important;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: none;
  border: transparent;
}

::-webkit-scrollbar-thumb{
  background: rgb(226, 226, 226);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(179, 179, 179);
  border-radius: 15px;
}

#brand{
  height: 35px;
  filter: invert(100%);
}

#loading-box{
    position: fixed;
    top: 0;
    z-index: 10;
    background: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

#loading{
  width: 100px;
}

#source{
  background: #3a5e81;
  border-radius: 9px;
  padding: 2px 9px;
  color: white !important;
  font-size: small;
}